.button{
    -fx-background-color: #99ccff;
    }
    .bodybg{
    -fx-background-image: url("mess.png");
    -fx-background-size: 100% 100%
    }
    .root{
        -fx-background-image: url("c.png");
    -fx-background-size: 100% 100%
    }
    .label{
    -fx-background-color: #00ff99;
    }
    

